# Generate Correct Answers .csv

In [16]:
import pandas as pd

import time
import os

def read_large_csv(file_path):
    cols_needed = ['NU_DOCUMENTO', 'VALOR_NOMINAL', 'VALOR_PRESENTE', 'VALOR_AQUISICAO']
    df = pd.read_csv(file_path, usecols=cols_needed, sep=";", thousands=",", on_bad_lines='warn')
    df["VALOR_NOMINAL"] = pd.to_numeric(df["VALOR_NOMINAL"])
    df["VALOR_PRESENTE"] = pd.to_numeric(df["VALOR_PRESENTE"])
    df["VALOR_AQUISICAO"] = pd.to_numeric(df["VALOR_AQUISICAO"])
    return df

def calculate_statistics(df):
    stats = df.groupby('NU_DOCUMENTO').agg(
        VALOR_NOMINAL_SUM=('VALOR_NOMINAL', 'sum'),
        VALOR_NOMINAL_AVG=('VALOR_NOMINAL', 'mean'),
        VALOR_NOMINAL_MAX=('VALOR_NOMINAL', 'max'),
        VALOR_NOMINAL_MIN=('VALOR_NOMINAL', 'min'),
        
        VALOR_PRESENTE_SUM=('VALOR_PRESENTE', 'sum'),
        VALOR_PRESENTE_AVG=('VALOR_PRESENTE', 'mean'),
        VALOR_PRESENTE_MAX=('VALOR_PRESENTE', 'max'),
        VALOR_PRESENTE_MIN=('VALOR_PRESENTE', 'min'),
        
        VALOR_AQUISICAO_SUM=('VALOR_AQUISICAO', 'sum'),
        VALOR_AQUISICAO_AVG=('VALOR_AQUISICAO', 'mean'),
        VALOR_AQUISICAO_MAX=('VALOR_AQUISICAO', 'max'),
        VALOR_AQUISICAO_MIN=('VALOR_AQUISICAO', 'min')
    ).reset_index()

    return stats

def save_statistics_to_csv(stats_df, output_file):
    stats_df.to_csv(output_file, index=False)
    print(f"Estatísticas salvas em {output_file}")

def main(input_path, output_file="estatisticas_financeiras.csv"):
    output_dir = os.getcwd() + "/output/"
    if not os.path.exists(output_dir):
        os.makedirs(output_dir)
    # Leitura dos dados do arquivo CSV
    start_time = time.time()
    df_lst = []
    for file in os.listdir(input_path):
        if (".csv" in file) and not ("Zone.Identifier" in file):
            file_path = input_path + file
            print(file_path)
            df_lst.append(read_large_csv(file_path))
    df = pd.concat(df_lst)
    print(f"Tempo de leitura dos arquivos: {time.time() - start_time:.2f} segundos")

    # Cálculo das estatísticas
    start_time = time.time()
    stats = calculate_statistics(df)
    print(f"Tempo de cálculo das estatísticas: {time.time() - start_time:.2f} segundos")

    # Salvando as estatísticas em um novo arquivo CSV
    output_file_path = output_dir + output_file
    save_statistics_to_csv(stats, output_file_path)

################################################################################################################
input_file = os.getcwd() + "/files/"  # Sua pasta com os arquivos CSV
main(input_file)

/home/clib/Workspace/go-performance-challenge-kanastra/files/58148845000109_Estoque_PICPAY FGTS FIDC_0047.csv
/home/clib/Workspace/go-performance-challenge-kanastra/files/58148845000109_Estoque_PICPAY FGTS FIDC_0044.csv
/home/clib/Workspace/go-performance-challenge-kanastra/files/58148845000109_Estoque_PICPAY FGTS FIDC_0040.csv
/home/clib/Workspace/go-performance-challenge-kanastra/files/58148845000109_Estoque_PICPAY FGTS FIDC_0042.csv
/home/clib/Workspace/go-performance-challenge-kanastra/files/58148845000109_Estoque_PICPAY FGTS FIDC_0039.csv
/home/clib/Workspace/go-performance-challenge-kanastra/files/58148845000109_Estoque_PICPAY FGTS FIDC_0045.csv
/home/clib/Workspace/go-performance-challenge-kanastra/files/58148845000109_Estoque_PICPAY FGTS FIDC_0043.csv
/home/clib/Workspace/go-performance-challenge-kanastra/files/58148845000109_Estoque_PICPAY FGTS FIDC_0046.csv
/home/clib/Workspace/go-performance-challenge-kanastra/files/58148845000109_Estoque_PICPAY FGTS FIDC_001.csv
/home/clib/Workspace/go-performance-challenge-kanastra/files/58148845000109_Estoque_PICPAY FGTS FIDC_0041.csv
Tempo de leitura dos arquivos: 5.83 segundos
Tempo de cálculo das estatísticas: 1.13 segundos
Estatísticas salvas em /home/clib/Workspace/go-performance-challenge-kanastra/output/estatisticas_financeiras.csv

# Check if GO generated calculations match the answers (pandas)

In [17]:
import pandas as pd

cols_names = ['NU_DOCUMENTO', 'VALOR_NOMINAL_SUM','VALOR_NOMINAL_AVG','VALOR_NOMINAL_MAX',
                 'VALOR_NOMINAL_MIN','VALOR_PRESENTE_SUM','VALOR_PRESENTE_AVG',
                 'VALOR_PRESENTE_MAX','VALOR_PRESENTE_MIN','VALOR_AQUISICAO_SUM',
                 'VALOR_AQUISICAO_AVG' ,'VALOR_AQUISICAO_MAX','VALOR_AQUISICAO_MIN']

cols_types = {'NU_DOCUMENTO':int, 'VALOR_NOMINAL_SUM':float,'VALOR_NOMINAL_AVG':float,'VALOR_NOMINAL_MAX':float,
                 'VALOR_NOMINAL_MIN':float,'VALOR_PRESENTE_SUM':float,'VALOR_PRESENTE_AVG':float,
                 'VALOR_PRESENTE_MAX':float,'VALOR_PRESENTE_MIN':float,'VALOR_AQUISICAO_SUM':float,
                 'VALOR_AQUISICAO_AVG':float ,'VALOR_AQUISICAO_MAX':float,'VALOR_AQUISICAO_MIN':float}


calculations_file = 'output/calculations.csv'
df_calculations = pd.read_csv(calculations_file, names=cols_names, dtype=cols_types, decimal='.', skiprows=1)
df_calculations = df_calculations.sort_values(by=['NU_DOCUMENTO']).reset_index(drop=True)

answers_file = 'output/estatisticas_financeiras.csv'
df_answers = pd.read_csv(answers_file, names=cols_names, dtype=cols_types, decimal='.', skiprows=1)
df_answers = df_answers.sort_values(by=['NU_DOCUMENTO']).reset_index(drop=True)

In [18]:
df_calculations.info()
df_calculations

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1009934 entries, 0 to 1009933
Data columns (total 13 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   NU_DOCUMENTO         1009934 non-null  int64
 1   VALOR_NOMINAL_SUM    1009934 non-null  float64
 2   VALOR_NOMINAL_AVG    1009934 non-null  float64
 3   VALOR_NOMINAL_MAX    1009934 non-null  float64
 4   VALOR_NOMINAL_MIN    1009934 non-null  float64
 5   VALOR_PRESENTE_SUM   1009934 non-null  float64
 6   VALOR_PRESENTE_AVG   1009934 non-null  float64
 7   VALOR_PRESENTE_MAX   1009934 non-null  float64
 8   VALOR_PRESENTE_MIN   1009934 non-null  float64
 9   VALOR_AQUISICAO_SUM  1009934 non-null  float64
 10  VALOR_AQUISICAO_AVG  1009934 non-null  float64
 11  VALOR_AQUISICAO_MAX  1009934 non-null  float64
 12  VALOR_AQUISICAO_MIN  1009934 non-null  float64
dtypes: float64(12), int64(1)
memory usage: 100.2 MB

,NU_DOCUMENTO,VALOR_NOMINAL_SUM,VALOR_NOMINAL_AVG,VALOR_NOMINAL_MAX,VALOR_NOMINAL_MIN,VALOR_PRESENTE_SUM,VALOR_PRESENTE_AVG,VALOR_PRESENTE_MAX,VALOR_PRESENTE_MIN,VALOR_AQUISICAO_SUM,VALOR_AQUISICAO_AVG,VALOR_AQUISICAO_MAX,VALOR_AQUISICAO_MIN
0,103217752,345.230000,115.076670,128.71,102.96,202.73999,67.579994,81.04,47.68,200.31000,66.770000,80.07,47.11
1,103217757,416.779970,46.308884,111.62,8.47,239.51000,26.612220,95.34,1.29,236.64001,26.293335,94.19,1.27
2,103217898,21.820000,10.910000,14.55,7.27,7.90000,3.950000,5.63,2.27,7.80000,3.900000,5.56,2.24
3,103218380,623.120000,311.560000,338.74,284.38,267.88998,133.944990,159.79,108.10,264.66998,132.334990,157.87,106.80
4,103218381,70.100006,35.050003,40.06,30.04,41.14000,20.570000,25.64,15.50,40.64000,20.320000,25.33,15.31
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1009929,118173190,925.800000,185.160000,433.58,33.15,323.28000,64.656000,180.16,5.81,323.28000,64.656000,180.16,5.81
1009930,118173254,322.660000,161.330000,261.79,60.87,236.90000,118.450000,215.76,21.14,236.90000,118.450000,215.76,21.14
1009931,118173259,42.690000,42.690000,42.69,42.69,26.88000,26.880000,26.88,26.88,26.88000,26.880000,26.88,26.88
1009932,118173310,85.640000,42.820000,44.29,41.35,68.74000,34.370000,39.23,29.51,68.74000,34.370000,39.23,29.51
1009933,118173378,131.040000,26.207998,60.52,5.92,101.31000,20.262000,58.69,1.02,101.31000,20.262000,58.69,1.02

In [19]:
df_answers.info()
df_answers

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1009934 entries, 0 to 1009933
Data columns (total 13 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   NU_DOCUMENTO         1009934 non-null  int64
 1   VALOR_NOMINAL_SUM    1009934 non-null  float64
 2   VALOR_NOMINAL_AVG    1009934 non-null  float64
 3   VALOR_NOMINAL_MAX    1009934 non-null  float64
 4   VALOR_NOMINAL_MIN    1009934 non-null  float64
 5   VALOR_PRESENTE_SUM   1009934 non-null  float64
 6   VALOR_PRESENTE_AVG   1009934 non-null  float64
 7   VALOR_PRESENTE_MAX   1009934 non-null  float64
 8   VALOR_PRESENTE_MIN   1009934 non-null  float64
 9   VALOR_AQUISICAO_SUM  1009934 non-null  float64
 10  VALOR_AQUISICAO_AVG  1009934 non-null  float64
 11  VALOR_AQUISICAO_MAX  1009934 non-null  float64
 12  VALOR_AQUISICAO_MIN  1009934 non-null  float64
dtypes: float64(12), int64(1)
memory usage: 100.2 MB

,NU_DOCUMENTO,VALOR_NOMINAL_SUM,VALOR_NOMINAL_AVG,VALOR_NOMINAL_MAX,VALOR_NOMINAL_MIN,VALOR_PRESENTE_SUM,VALOR_PRESENTE_AVG,VALOR_PRESENTE_MAX,VALOR_PRESENTE_MIN,VALOR_AQUISICAO_SUM,VALOR_AQUISICAO_AVG,VALOR_AQUISICAO_MAX,VALOR_AQUISICAO_MIN
0,103217752,345.23,115.076667,128.71,102.96,202.74,67.580000,81.04,47.68,200.31,66.770000,80.07,47.11
1,103217757,416.78,46.308889,111.62,8.47,239.51,26.612222,95.34,1.29,236.64,26.293333,94.19,1.27
2,103217898,21.82,10.910000,14.55,7.27,7.90,3.950000,5.63,2.27,7.80,3.900000,5.56,2.24
3,103218380,623.12,311.560000,338.74,284.38,267.89,133.945000,159.79,108.10,264.67,132.335000,157.87,106.80
4,103218381,70.10,35.050000,40.06,30.04,41.14,20.570000,25.64,15.50,40.64,20.320000,25.33,15.31
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1009929,118173190,925.80,185.160000,433.58,33.15,323.28,64.656000,180.16,5.81,323.28,64.656000,180.16,5.81
1009930,118173254,322.66,161.330000,261.79,60.87,236.90,118.450000,215.76,21.14,236.90,118.450000,215.76,21.14
1009931,118173259,42.69,42.690000,42.69,42.69,26.88,26.880000,26.88,26.88,26.88,26.880000,26.88,26.88
1009932,118173310,85.64,42.820000,44.29,41.35,68.74,34.370000,39.23,29.51,68.74,34.370000,39.23,29.51
1009933,118173378,131.04,26.208000,60.52,5.92,101.31,20.262000,58.69,1.02,101.31,20.262000,58.69,1.02

In [20]:
import numpy as np

# Diferença de até 3 dígitos na segunda casa decimal
mask = np.isclose(df_answers, df_calculations, atol=0.01)

# Se mask for toda True
if np.all(mask):
    print("Gabarito Batido!")
else:
    print("Erro")
    diff = (df_answers - df_calculations).abs()
    diff_exceeding = diff.where(~mask)
    diff_exceeding.to_csv('diff_batimento.csv')

Gabarito Batido!

In [21]:
# Find documents that didn't pass the comparison check
# Extract rows where the mask is False for any column
failed_mask = ~mask.all(axis=1)
failed_documents = df_answers.loc[failed_mask, 'NU_DOCUMENTO'].tolist()

print(f"Number of documents that failed the check: {len(failed_documents)}")

# Display a sample of the failed documents (first 20 if there are that many)
sample_size = min(20, len(failed_documents))
print(f"\nSample of failed documents (first {sample_size}):")
print(failed_documents[:sample_size])

# Save the failed documents to a file if needed
pd.DataFrame({'NU_DOCUMENTO': failed_documents}).to_csv('failed_documents.csv', index=False)
print("\nComplete list saved to 'failed_documents.csv'")

Number of documents that failed the check: 0

Sample of failed documents (first 0):
[]

Complete list saved to 'failed_documents.csv'